@import url("./reset.min.css");
@import url("./components/main/cards.scss");
.body {
  background-color: whitesmoke;
  padding: 3em;
}

.body .root {
  display: flex;
  flex-direction: column;
}

.body .wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  background-color: darkgray;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: whitesmoke;
  border-radius: 20em;
  height: 2em;
}

.header a {
  position: relative;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header a:hover {
  color: #222;
}

.header a:before,
.header a:after {
  content: '';
  background: #e74c3c;
  position: absolute;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header a:before {
  top: 0;
  left: 0;
}

.header a:after {
  top: 100%;
  right: 0;
}

.header a:hover:before,
.header a:hover:after {
  width: 100%;
}

.header .active {
  color: #00bd00;
  text-decoration: underline;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main__wrapper .search-cont {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__wrapper .search-cont .search-cont__input {
  width: 50vw;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.main__wrapper .search-cont .search-cont__input:focus {
  color: #00b4cc;
}

.main__wrapper .search-cont .search-cont__btn {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.main__wrapper .search-cont .search-cont__btn .loupe {
  width: 100%;
  height: 100%;
}
