.cards-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 2vw;
  gap: 10px;
}

.cards-cont .card {
  width: 30%;
  height: 25%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  backdrop-filter: blur(3px);
  background-color: rgba(19, 20, 21, 0.3);
  border: 2px solid #626f71;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  flex-wrap: wrap;
  padding: 0;
  transition: 1s;
}

.cards-cont .card .card__title {
  font-stretch: condensed;
  margin: 5px 0;
  min-height: 20px;
}

.cards-cont .card .card__image-box {
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.cards-cont .card .card__image {
  height: 100px;
}

.cards-cont .card .card__props {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
