.footer {
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: whitesmoke;
  border-radius: 20em;
}

.footer .footer__logo {
  height: 2em;
}

.footer .footer__github {
  height: 2em;
}
